<div class="row">
  <!-- left partition -->
  <div class="col-md-6">
      <!-- use bootstrap form --> 
      <form #f="ngForm" (ngSubmit)="save(f.value)">

          <!-- first input field -->
          <div class="form-group">
          <!-- for improving the accessibility, use both "title" when user click the label
              the input field field will immediately get focus -->
              <label for="coupon">Coupon Code</label>
              <input #coupon="ngModel" [(ngModel)]="coupon.coupon" name="coupon" id="coupon" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="coupon.touched && coupon.invalid">
                  Coupon code is required
              </div>
          </div>

          <div class="form-group">
              <label for="discount">Discount</label>
              <!-- div.input-group>span.input-group-text //then press enter -->
              <div class="input-group mb-3">
                  <input #discount="ngModel" [(ngModel)]="coupon.discount" name="discount" type="number" class="form-control" aria-label="Amount (to the nearest dollar)" required>
              </div>
              <div class="alert alert-danger" *ngIf="discount.touched && !discount.value || discount.value < 0">
                  <div *ngIf="!discount.value">Discount is required</div>
                  <div *ngIf="discount.value < 0">Discount should be 0 or higher</div>
              </div>
          </div>
      
          <div class="form-group">
              <label for="description">Description</label>
              <input [ngModel]="coupon.description" name="description"  id="description" type="text" class="form-control" [value]="noDescription">
              <p>{{coupon.description}}</p>
          </div>

          <button 
              type="submit"
              class="btn btn-primary">Save</button>

          <!-- default type is submite, need to change to button so it won't submit -->
          <button 
              type="button" 
              (click)="delete()" 
              class="btn btn-danger">Delete</button>
      </form>
  </div>

  <!-- right partition -->
  <div class="col-md-6">
      <!-- hide the add to cart button -->
      <!-- <product-card [product]="product" [show-actions]="false"></product-card> -->
  </div>
</div>
