<br>
<div style="border-bottom: solid lightgrey; padding-bottom: 15px;">
  <span class="title-section" style="font-family: Raleway">Coupon Editing</span>
</div>
<div class="row">
  <!-- left partition -->
  <div class="col-md-6">
      <!-- use bootstrap form --> 
      <form #f="ngForm" (ngSubmit)="save(f.value)">
          <!-- first input field -->
          <div class="form-group">
          <!-- for improving the accessibility, use both "coupon" when user click the label
              the input field will immediately get focus -->
              <label for="coupon">Coupon Code:</label>
              <input #coupon="ngModel" [(ngModel)]="targetCoupon.coupon" name="coupon" id="coupon" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="coupon.touched && coupon.invalid">
                  Coupon code is required
              </div>
          </div>
 
          <div class="form-group">
              <label for="discount">Discount (ex. entering 10 means 10% off) </label>
              <!-- div.input-group>span.input-group-text //then press enter -->
              <div class="input-group mb-3">
                  <input #discount="ngModel" [(ngModel)]="targetCoupon.discount" name="discount" type="number" class="form-control" required>
              </div>
              <div class="alert alert-danger" *ngIf="discount.touched && !discount.value || discount.value < 0">
                  <div *ngIf="!discount.value">Discount is required</div>
                  <div *ngIf="discount.value < 0">Discount should be 0 or higher</div>
              </div>
          </div>
      
          <div class="form-group">
              <label for="description">Description</label>
              <input #description="ngModel" [ngModel]="targetCoupon.description" name="description"  id="description" type="text" class="form-control" >
              <p>{{targetCoupon.description}}</p>
          </div>

          <button 
              type="submit"
              class="btn btn-primary">Save</button>

          <!-- default type is submite, need to change to button so it won't submit -->
          <button 
              type="button" 
              (click)="delete()" 
              class="btn btn-danger">Delete</button>
      </form>
  </div>

  <!-- right partition -->
  <div class="col-md-6">
    <div class="card" > 
        <div class="card-body">
        <h4 class="card-title" style="color: rgb(0, 81, 255)">Coupon Information</h4>
        <p class="card-text"><b>Coupon Code:</b></p>
        <p class="card-text">{{targetCoupon.coupon}}</p>
        <p class="card-text"><b>Discount:</b></p>
        <p class="card-text">{{targetCoupon.discount}}% </p>
        <p class="card-text"><b>Description:</b></p>
        <p class="card-text">{{targetCoupon.description}}</p>
        </div>
    </div>
  </div>
</div>
