.card-body {
    box-shadow: 5px 10px 20px #cccccc;
}

.card-body:hover {
    box-shadow: 12px 10px 20px #cccccc;
}

.card-title {
    color: #797979;
    font-size: 20px;
    font-weight: bold;
    font-family: "Karla", sans-serif;
    margin-top: 5px;
    margin-bottom: -10px;
}

.card-title:hover {
    font-weight: 200px;
}

.add {
    background-color: #db3236;
    color: white;
}

.add:hover {
    background: #ac2124;
}

.card-footer {
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 0px;
}

.card-footer button {
    font-family: "Jua", sans-serif;
    cursor: pointer;
}

.card-footer button:hover {
    font-weight: bold;
}

.card-img-top {
    padding: 0px;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 10px;
    height: 200px;
    width: 238px;
}

.checked {
    color: orange;
}

.badge {
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
    background-color: red;
    font-size: 24px;
    font-family: "Karla", sans-serif;
    right: 10px;
}


/* These two are making the sale tag to look like a ribbon */

a {
    color: black;
}

.regularPrice, .salePrice
{
    color: rgb(21, 151, 221);
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    
}