<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Bree+Serif|Jua|Karla|Rubik" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<div *ngIf="product.title" class="card h-100 d-flex flex-column justify-content-between" style="width: 15rem;">

    <!-- Sale tag -->


    <!-- <a href="product/{{ product.$key }}"> -->
    <!-- not working in the firebase deploy -->
    <div class="card-body">

        <a [routerLink]="['/product/', product.$key]">
            <span *ngIf="product.salePrice" class="badge">
                <i class="left"></i>
                <i class="right"></i> SALE
            </span>
            <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.title }}">
        </a>


        <h5 class="card-title">
            <a [routerLink]="['/product/', product.$key]" style="color: #514e4e;"> {{ product.title }} </a>
            <!-- <span style="font-size: 14px;color: gray;">({{ product.category }})</span> -->
        </h5>

        <hr>

        <!-- <p class="card-text" style="color:gray;">{{ product.description }}</p> -->

        <!-- Product rating, manually put the star icon according to the rating number -->
        <!-- provided by admin. The starts will be shown differetly based on the value given-->
        <!-- from 1-5 -->
        <div *ngIf=" product.rating  === 0 || !product.rating" class="checked1">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"><span style="font-size: 12px; color: gray;"> (Not Yet Rated)</span></span>

        </div>

        <div *ngIf=" product.rating  === 1" class="checked1">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <div *ngIf=" product.rating  === 2" class=" checked2">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <div *ngIf=" product.rating  === 3" class="checked3">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <div *ngIf=" product.rating  === 4" class="checked4">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </div>

        <div *ngIf=" product.rating  === 5" class="checked5">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>

        <!-- Product review section -->
        <!-- <p class="review" style="color: gray; font-size: 14px;">
      "{{ product.review }}"
    </p> -->

        <span *ngIf="product.salePrice" style="color: red" class="salePrice">{{ product.salePrice | currency:'USD': true }}</span>
        <s *ngIf="product.salePrice" style="float: right; color: grey;">{{ product.price | currency:'USD': true}}</s>
        <span *ngIf="!product.salePrice" class="card-text" class="regularPrice">{{ product.price | currency:'USD': true}}</span>

        <!-- The footer of the card -->
        <div *ngIf="showActions && shoppingCart" class="card-footer">
            <!-- Only show add to cart when quantity is 0 -->
            <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn add btn-block">Add to Cart</button>

            <ng-template #updateQuantity>
                <product-quantity [product]="product" [shopping-cart]="shoppingCart">
                </product-quantity>
            </ng-template>
        </div>

    </div>


</div>