<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Round About - Start Bootstrap Template</title>
    
    
        <!-- Custom styles for this template -->
        <link href="/about-us.component.css" rel="stylesheet">
        
</head>
<body>
<h1>About Us</h1>
<div class="contain text-center" style = "width: 50rem;">
  <a id="ga-e70aba" class="card " data-analytics-name="BD CTA Clicked" 
  data-analytics-category="BD CTA Clicked" 
  data-analytics-label="BD CTA Clicked - BD Hub - Learn More" 
  data-analytics-payload="{&quot;cta_message&quot;:&quot;Learn More&quot;,&quot;cta_type&quot;:&quot;card&quot;,&quot;cta_destination&quot;:&quot;Corporate Training&quot;,&quot;cta_location&quot;:&quot;BD Hub&quot;}" href="/login">
    <div class="icon bg-white">
      <img alt="Corporate Training" class="rounded mx-auto d-block" src="https://d125fmws0bore1.cloudfront.net/assets/pages/business/icon-corporate-training-24f3d6a29bb157ee2e2826d3ad6429e3ddadff4b2289658827946d86c3ea9e9f.svg">
    </div>
    <h2 class="blue">About Us</h2>
    <div class="mx-auto" style="width: 600px;">
    <p class="product__card--description">E-Quality is a project started by SJSU enigineering majors, who are dedicated to bringing you excellent quality service!
        Online shopping is an important technology that has enhanced the way that we buy products. Buying products online needs to be easy, entertaining, and efficient. 
        The purpose of this project is to provide grocery users with an application to easily shop for items and checkout. This project will be a 
        supplement for Shop.Safeway.com and will contain the same features of the current system. </p>
      </div>
    <div class="text-only cta">Learn More</div>
  </a>
</div>

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
