.dropdown-toggle, .dropdown-item { 
  cursor: pointer;
}

/* Get rid of the blue square when click the image of home button */
img:active, img:focus {
  outline: 0;
  border: none;
  outline-style: none
}

.profile-picture
{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.profile-picture:hover
{
  border: solid 3px grey;
}