<link href="https://fonts.googleapis.com/css?family=Catamaran|Gaegu|Inconsolata|Indie+Flower|Rubik|Shadows+Into+Light" rel="stylesheet">

<!-- to set the category stay on the left while scrolling -->
<div class="sticky-top">
    <div class="list-group" style="font-family: 'Inconsolata'">
        <a class="list-group-item list-group-item-action" [class.active]="!category" routerLink="/">All Categories</a>
        <a *ngFor="let c of categories$ | async" routerLink="/" [queryParams]="{category: c.$key}" class="list-group-item list-group-item-action" [class.active]="category === c.$key">
      {{ c.name }}
    </a>
    </div>
</div>