<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart.
    <button
    *ngIf="cart.items.length"
    (click)="clearCart()"
    class="btn btn-danger btn-light btn-sm">Clear the Cart</button>
  </p>
  <table class="table">
    <thead style="background-color:#f7c481">
      <tr>
        <th></th>
        <th>Product</th>
        <th>Unit</th>
        <th class="text-center" style="width: 220px ">Quantity</th>
        <th class="text-right" style="width: 220px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url('+ item.imageUrl + ')'" class="thumbnail"></div>
        </td>
        <td>
          <!-- {{ item.product.title }}  -->
          <!-- becareful this item is in the shoppingcart, not a product. 
            Using $key and above code will cause a problem -->
          {{ item.title }} 
        </td>
        <td>
          {{ item.unit }}
        </td>
        <td>
          <!-- {{ item.quantity }} -->
          <product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity>
        </td>
        <td class="text-right" >
            {{ item.totalPrice | currency: 'USD': true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">Total Price:</th>
        <th class="text-right" >{{ cart.totalPrice | currency: 'USD':true }}</th>
      </tr>
    </tfoot>
  </table>
  <a 
    *ngIf="cart.items.length"
    routerLink="/check-out"
    class="btn btn-primary">Check Out</a>
</ng-container>
