<!-- no-gutters make  -->
<div class="row no-gutters">
    <div class="col-3">
      <!-- btn-secondary: color gray; btn-block: filling the entire column -->
      <button 
        (click)="removeFromCart()"
        class="btn btn-outline-info btn-block">-</button>
    </div>
    <div class="col text-center">
      <!-- moved the calculation code to the component.ts -->
      {{ shoppingCart.getQuantity(product) }} in cart
    </div>
    <div class="col-3">
      <button
        (click)="addToCart()" 
        class="btn btn-outline-info btn-block">+</button>
    </div>
  </div>  