<br>
<div style="border-bottom: solid lightgrey; padding-bottom: 15px;">
  <span class="title-section" style="font-family: Raleway">My Orders</span>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Price</th>
      <th>Date</th>
      <th>Order Number</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.purchasePrice | currency:'USD': true }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>{{ order.$key}}</td>
      <td>
        <a [routerLink]="['/my/orders/', order.$key]">View</a>
      </td>
    </tr>
  </tbody> 
</table>