div
{
    padding: 8px;
}

.thankYou-msg
{
    border: 1px solid gray;
}

h3, h4
{
    text-align: center;
    text-transform: uppercase;
    color: #58C777;
}

td, th
{
    color: #58C777;
    font-size: 20px;
    text-align: center;
}