.useCoupon {
    cursor: pointer;
    background-color: #1E90EF;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 24px;
    width: 200px;
    border: none;
}

.useCoupon:hover {
    background-color: #1f80d0;
}

#coupon {
    height: 40px;
    transition: 0.2s;
    border: solid transparent;
    border-radius: 5px;
    padding-left: 10px;
}

#coupon:focus
{
    border: solid #db3236;
}

#apply {
    vertical-align: -2px;
    margin-left: -4px;
    color: white;
    width: 100px;
    height: 40px;
    background: #db3236;
    font-family: 'Lato';
    font-size: 20px;
    padding: 2px;
    transition: 0.2s;
    border-radius: 5px;
}

#apply:hover {
    background: #b92b2e;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
    color: white;
}