
.card-footer button
{   
    cursor: pointer;
}


.checked {
    color: orange;
}

.sale-tag
{
    background: rgb(248, 26, 2);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 20px;
    
    border-radius: 5px;
 
}

a
{
    color: black; 
}

.price
{
    color: #1E90FF;
    font-weight: 900;
    font-size: 24px;
}

.salePrice
{
    color: red;
    font-weight: 900;
    font-size: 24px;
}