<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<br><br>
<body>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
            <a style="text-decoration: none;" routerLink='/profile-update'>
                <img src="{{appUser.profile_picture}}" onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqtJu5_mKrVY0G4bQbLMNo2g0qY2QW0aFNP_jRnKQc3e4x5Rgmvw'" class="thumbnail">
            </a>
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <a style="text-decoration: none;" routerLink='/profile-update'>
                <div class="name" style="font-size: 50px; text-align: center;">Hi, {{appUser.name}}</div>
              </a>
              <div class="email" style="padding: 20px; margin: auto;">
                <a style="text-decoration: none;" routerLink='/profile-update'>
                    <i class="fa fa-envelope" style="font-size: 48px;"></i>
                    <span style="font-size: 32px; margin-left: 20px;">{{appUser.email}}</span>
                </a>
              </div>              
              <div class="address" style="padding: 20px; margin: auto;">
                <a style="text-decoration: none;" routerLink='/profile-update'>
                    <i class="fa fa-home" style="font-size: 56px;"></i>
                    <span style="font-size: 32px; margin-left: 20px;">{{appUser.address}} </span>
                </a>
            </div>              
            <div class="update" style="text-align: center;">
                <a class="btn btn-primary" style="margin: 15px; font-size: 20px; font-weight: 700;" routerLink='/profile-update'>Update</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>