/* profile image */
.thumbnail
{
    /* resize image without being out of ratio */
    width: 300px;
    height: 300px;
    background-size: cover;
    display: block;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 100%;
    border: solid 5px transparent;
    transition: 0.2s;
}

.col-md-4
{
    border-right: solid 3px lightgray;
}

.col-md-8
{
    padding-top: 20px;
    background: rgb(0, 170, 255);
}

a
{
    color: white;
    transition: 0.2s;
}

a.btn
{
    background-color: white;
    color: rgb(0, 170, 255);
}

a.btn:hover
{
    color:white;
    background-color: #ffc107;
}

a:hover
{
    color:#ffc107;
}

/* Profile image and its hover effect */
img
{
    border: solid 2px transparent;
}

img:hover
{
    border: solid 5px #ffc107;
}

.card 
{
    border: 3px solid lightgray;
}

/* Profile picture box */
.profile-picture
{
    border-right: solid 3px lightgray;
    padding: 50px;
}





