<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="container section-ourTeam">


	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 ourTeam-hedding text-center">
      
			<h1>Meet Our Team</h1>
		</div>
  </div>
  

	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-success ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="https://media.licdn.com/dms/image/C5603AQG2SUrIY8lQYQ/profile-displayphoto-shrink_800_800/0?e=1529305200&v=beta&t=uHDu34_X--x6CLjaBhkPT0pxPiQ4VlSCuF7Dsv1yx4w">
				</div>
				<div class="col-md-12 section2">
          <p>Abraham Tesfay</p><br>
          <br><h1>Project Manager</h1><br>
				</div>
				<div class="col-md-12 section4">
          <a href="https://www.facebook.com/abrahamktesfay?ref=br_rs"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://github.com/atesfay"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/abraham-tesfay-a1164434/"><i class="fa fa-linkedin-in fa-2x"></i></a>
					<a href="abraham.atesfay@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
				</div>
      </div>
    </div>
    


		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-info ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="https://media.licdn.com/dms/image/C5103AQEepUPfM9pZbw/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=YrCHrVmECUK5UFhbFr3j5ugCofiyOYj1EueilvjXCx4">
				</div>
				<div class="col-md-12 section2">
					<p>Chad Gorham</p><br>
					<h1>Technical Writer & Software Architecture</h1><br>
				</div>
				<div class="col-md-12 section4">
					<a href="https://www.facebook.com/GorhamChad?ref=br_rs"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://github.com/ChadGorham"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/chad-gorham-30b59511a/"><i class="fa fa-linkedin-in fa-2x"></i></a>
					<a href="gorhamchadsbhs@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
				</div>
			</div>
    </div>
    



		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-danger ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="https://sjsu.instructure.com/images/thumbnails/47561065/nFD4DYxCn0HUVyGSRzNRQVTB4IVei6xPVhSThc0r">
				</div>
				<div class="col-md-12 section2">
          <p>Yunjun Ma</p><br>
          <br>
					<h1>Software Design & Marketing</h1>
				</div>
				<div class="col-md-12 section4">
					<a href="https://www.facebook.com/yunjun.ma"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://github.com/yunjunma"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/yunjun-ma-6641a144/"><i class="fa fa-linkedin-in fa-2x"></i></a>
					<a href="yunjunma@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
				</div>
			</div>
		</div>
  </div>


  <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row section-success ourTeam-box text-center">
          <div class="col-md-12 section1">
            <img src="https://media.licdn.com/dms/image/C4D03AQEmhRijt_Xeog/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=zCFTKy6JLzenM1JaYPGEezvuHBNmWZ0xnDPiSxn2Ouo">
          </div>
          <div class="col-md-12 section2">
            <p>Richard Liu</p><br>
            <h1>Software Design & Software Architecture</h1><br>
          </div>
          <div class="col-md-12 section4">
          <a href="https://www.facebook.com/profile.php?id=100002678203533"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://github.com/GitHubForRichard"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/richard-che-liu/"><i class="fa fa-linkedin-in fa-2x"></i></a>
					<a href="richard14942003@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row section-info ourTeam-box text-center">
          <div class="col-md-12 section1">
            <img src="https://media.licdn.com/dms/image/C5603AQEAW1re1Wg1zQ/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=Rjc-o2CVlQTyHD0EOjsFNJjz_KQQF0vrZ3_ljIWEeHI">
          </div>
          <div class="col-md-12 section2">
            <p>Sophia Tan</p><br>
            <br>
            <h1>Technical Writer & Software Tester</h1><br>
          </div>
          <div class="col-md-12 section4">
          <a href="https://www.facebook.com/sophia.tan.549?ref=br_rs"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://github.com/sophiastan"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/sophia-tan/"><i class="fa fa-linkedin-in fa-2x"></i></a>
					<a href="sophia.tan@sjsu.edu"><i class="fa fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row section-danger ourTeam-box text-center">
          <div class="col-md-12 section1">
            <img src="https://media.licdn.com/dms/image/C5603AQEFYpG8--MUSQ/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=17-Ktc31IvPmQoDOkTZ9CpMEjczg4tyIAZ4lmXCayv0">
          </div>
          <div class="col-md-12 section2">
            <p>Tommy Xu</p><br>
            <h1>Software Design & Software Architecture</h1>
          </div>
          <div class="col-md-12 section4">
          <a href="https://www.facebook.com/TommyXu0814"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://github.com/Tommy0814"><i class="fa fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/tommy-jing-xu/"><i class="fa fa-linkedin-in fa-2x"></i></a>
					<a href="tommyxu0814@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>

    https://github.com/goldfishyyy

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row section-success ourTeam-box text-center">
            <div class="col-md-12 section1">
              <img src="https://media.licdn.com/dms/image/C4E03AQEB_L6ThGo-DA/profile-displayphoto-shrink_800_800/0?e=1529694000&v=beta&t=AQbAzXC2M08xXktg2E5UMuIhI9VRX4KPRMxXi2r68zk">
            </div>
            <div class="col-md-12 section2">
              <p>Yanyan Yang</p><br>
              <h1>Marketing Lead & Software Tester</h1><br>
            </div>
            <div class="col-md-12 section4">
              <a href="https://www.facebook.com/yanyan.yang.88"><i class="fa fa-facebook-square fa-2x"></i></a>
              <a href="https://github.com/goldfishyyy"><i class="fa fa-github fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/yanyan-yang-20b614148/"><i class="fa fa-linkedin-in fa-2x"></i></a>
              <a href="yanyan.yang@sjsu.edu"><i class="fa fa-envelope fa-2x"></i></a>
            </div>
          </div>
        </div>




        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row section-info ourTeam-box text-center">
          </div>
        </div>



        
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row section-danger ourTeam-box text-center">
            <div class="col-md-12 section1">
                <img src="https://media.licdn.com/dms/image/C5103AQG8geZCbykxkA/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=7lAEaLg9Lo_9wCtcDptqw9xbepe2d-0v6UOtcVIuZi4">
            </div>
            <div class="col-md-12 section2">
              <p>Jeffrey Hu</p><br>
              <h1>Software Design & Software Tester</h1>
            </div>
            <div class="col-md-12 section4">
              <a href="https://www.facebook.com/jeffrey.zhang2"><i class="fa fa-facebook-square fa-2x"></i></a>
              <a href="https://github.com/jeff96hcs"><i class="fa fa-github fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/jeffrey-hu-87963b117/"><i class="fa fa-linkedin-in fa-2x"></i></a>
              <a href="jeff96hcs@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
</div>
</body>
</html>