<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="container section-ourTeam">


	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 ourTeam-hedding text-center">
      
			<h1>Meet Our Team</h1>
		</div>
  </div>
  

	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-success ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="https://media.licdn.com/dms/image/C5603AQG2SUrIY8lQYQ/profile-displayphoto-shrink_800_800/0?e=1529305200&v=beta&t=uHDu34_X--x6CLjaBhkPT0pxPiQ4VlSCuF7Dsv1yx4w">
				</div>
				<div class="col-md-12 section2">
					<p>Abraham Tesfay</p><br>
					<h1>Team Leader</h1><br>
				</div>
				<div class="col-md-12 section3">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-md-12 section4">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
      </div>
    </div>
    


		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-info ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="https://media.licdn.com/dms/image/C5103AQEepUPfM9pZbw/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=YrCHrVmECUK5UFhbFr3j5ugCofiyOYj1EueilvjXCx4">
				</div>
				<div class="col-md-12 section2">
					<p>Chad Gorham</p><br>
					<h1>Documentation & Technical Lead</h1><br>
				</div>
				<div class="col-md-12 section3">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-md-12 section4">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
			</div>
    </div>
    



		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-danger ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="https://sjsu.instructure.com/images/thumbnails/47561065/nFD4DYxCn0HUVyGSRzNRQVTB4IVei6xPVhSThc0r">
				</div>
				<div class="col-md-12 section2">
					<p>Yunjun Ma</p><br>
					<h1>Software Design Lead & Marketing</h1>
				</div>
				<div class="col-md-12 section3">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-md-12 section4">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
			</div>
		</div>
  </div>


  <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row section-success ourTeam-box text-center">
          <div class="col-md-12 section1">
            <img src="https://media.licdn.com/dms/image/C4D03AQEmhRijt_Xeog/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=zCFTKy6JLzenM1JaYPGEezvuHBNmWZ0xnDPiSxn2Ouo">
          </div>
          <div class="col-md-12 section2">
            <p>Richard Liu</p><br>
            <h1>Software Design & Technical Lead</h1><br>
          </div>
          <div class="col-md-12 section3">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
          </div>
          <div class="col-md-12 section4">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row section-info ourTeam-box text-center">
          <div class="col-md-12 section1">
            <img src="https://media.licdn.com/dms/image/C5603AQEAW1re1Wg1zQ/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=Rjc-o2CVlQTyHD0EOjsFNJjz_KQQF0vrZ3_ljIWEeHI">
          </div>
          <div class="col-md-12 section2">
            <p>Sophia Tan</p><br>
            <h1>Documentation & Software Testing</h1><br>
          </div>
          <div class="col-md-12 section3">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
          </div>
          <div class="col-md-12 section4">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row section-danger ourTeam-box text-center">
          <div class="col-md-12 section1">
            <img src="https://media.licdn.com/dms/image/C5603AQEFYpG8--MUSQ/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=17-Ktc31IvPmQoDOkTZ9CpMEjczg4tyIAZ4lmXCayv0">
          </div>
          <div class="col-md-12 section2">
            <p>Tommy Xu</p><br>
            <h1>Software Design & Technical</h1>
          </div>
          <div class="col-md-12 section3">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
          </div>
          <div class="col-md-12 section4">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row section-success ourTeam-box text-center">
            <div class="col-md-12 section1">
              <img src="https://sjsu.instructure.com/images/thumbnails/44680214/Jx5bSx6aQq9zzEquAiOqgwxDFbunCcRYCykyvfUI">
            </div>
            <div class="col-md-12 section2">
              <p>Yanyan Yang</p><br>
              <h1>Marketing Lead & Software Testing</h1><br>
            </div>
            <div class="col-md-12 section3">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>
            </div>
            <div class="col-md-12 section4">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-google-plus" aria-hidden="true"></i>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
          </div>
        </div>




        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row section-info ourTeam-box text-center">
          </div>
        </div>



        
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row section-danger ourTeam-box text-center">
            <div class="col-md-12 section1">
                <img src="https://media.licdn.com/dms/image/C5103AQG8geZCbykxkA/profile-displayphoto-shrink_800_800/0?e=1529308800&v=beta&t=7lAEaLg9Lo_9wCtcDptqw9xbepe2d-0v6UOtcVIuZi4">
            </div>
            <div class="col-md-12 section2">
              <p>Jeffrey Hu</p><br>
              <h1>Software Design & Software Testing</h1>
            </div>
            <div class="col-md-12 section3">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              </p>
            </div>
            <div class="col-md-12 section4">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-google-plus" aria-hidden="true"></i>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
</div>
</body>
</html>